@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}

public-hoist-pattern[]=*mdast*
public-hoist-pattern[]=*remark*
public-hoist-pattern[]=*unified*