html {
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border: solid 2px #6B7280;
}

th, td {
  border: solid 1px #6B7280;
}

th:first-child {
  width: 8%;
}

th:nth-child(2) {
  width: 13%;
}


th:nth-child(3) {
  width: 21%;
}


th:nth-child(4) {
  width: 10%;
}

td {
  word-break: break-all;
}

h2, h3 {
  scroll-margin-top: 100px;
}