html {
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  /* border: solid 2px #6B7280; */
}

/* th, td {
  border: solid 1px #6B7280;
} */

th:first-child {
  width: 8%;
}

th:nth-child(2) {
  width: 13%;
}

th:nth-child(3) {
  width: 21%;
}

th:nth-child(4) {
  width: 10%;
}

td {
  word-break: break-all;
}

h2,
h3 {
  scroll-margin-top: 100px;
}

::selection {
  background-color: #fce9f2;
}

.text-gradient {
  background: linear-gradient(
    126deg,
    rgba(45, 146, 233, 1) 0%,
    rgba(100, 74, 213, 1) 20%,
    rgba(193, 65, 172, 1) 40%,
    rgba(231, 33, 146, 1) 60%,
    rgba(240, 77, 102, 1) 80%,
    rgba(253, 112, 67, 1) 100%
  );
  color: transparent;
  background-clip: text;
}
